In [32]:
import numpy as np
import pandas as pd

In [33]:
X_train = np.load('Data/Train/X.npy')
X_prime_train = np.load('Data/Train/X_prime.npy')
feature_info_train = np.load('Data/Train/feature_information.npy')

In [34]:
# trainDataTrue = pd.DataFrame(data=X_train)
trainData = pd.DataFrame(data=X_prime_train)

In [35]:
trainData.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,0.301370,0.043338,0.800000,0.02174,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.452055,0.047277,0.800000,0.00000,0.0,0.122449,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.287671,0.137244,0.533333,0.00000,0.0,0.397959,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.493151,0.150212,0.400000,0.00000,0.0,0.000000,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.150685,0.220703,0.800000,0.00000,0.0,0.397959,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
X_test = np.load('Data/Test/X.npy')
X_prime_test = np.load('Data/Test/X_prime.npy')
feature_info_test = np.load('Data/Test/feature_information.npy')

In [37]:
# testDataTrue = pd.DataFrame(data=X_test)
testData = pd.DataFrame(data=X_prime_test)

In [38]:
print("Train shape:",X_train.shape)
print("Test shape:",X_test.shape)

Train shape: (30162, 106)
Test shape: (15060, 106)

In [39]:
categoricalFeatures = [[i for i in range(7,14)],
                 [i for i in range(14,30)],
                 [i for i in range(30,37)],
                 [i for i in range(37,51)],
                 [i for i in range(51,57)],
                 [i for i in range(57,62)],
                 [i for i in range(62,64)],
                 [i for i in range(64,105)]
                 ]
print(categoricalFeatures)

[[7, 8, 9, 10, 11, 12, 13], [14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], [30, 31, 32, 33, 34, 35, 36], [37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50], [51, 52, 53, 54, 55, 56], [57, 58, 59, 60, 61], [62, 63], [64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104]]

In [40]:
isFeatureMissingTrain = pd.DataFrame(data = feature_info_train)
isFeatureMissingTrain.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
3,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0

In [41]:
isFeatureMissingTest = pd.DataFrame(data = feature_info_test)
isFeatureMissingTest.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,1,1,0,1,1,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,0,1,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,1,0

In [10]:
class BaselineModel:
    
    def __init__(self, trainData, isFeatureMissingTrain, testData, isFeatureMissingTest, categoricalFeatures):
        self.features = isFeatureMissingTrain.columns
        self.trainData = trainData
        self.testData = testData
        self.categoricalFeatures = categoricalFeatures
        self.isCategorical = [i for _l in self.categoricalFeatures for i in _l]
        self.startIndex = [l[0] for l in self.categoricalFeatures]
        self.endIndex = [l[-1] for l in self.categoricalFeatures]
        
        # Missing value as Nan
        self.trainData = self.trainData.where(isFeatureMissingTrain > 0)
        self.testData = self.testData.where(isFeatureMissingTest > 0)
        
    def calculateSampleAverage(self):
        
        # Dictionary to store mean/mode of features
        self.meanValues = {}
        
        for col in self.features:
            # Categorical feature 
            if col in self.startIndex:
                start = col
                i = self.startIndex.index(col)
                end = self.endIndex[i]
                df = self.trainData.iloc[:,start:end+1]
                # Determine mode class
                colSum = np.array([df[c].sum() for c in df.columns])
#                 print("colSum",colSum)
                maxClass = np.argmax(colSum)
#                 print("maxClass:", maxClass)
                for i in range(start, end+1):
                    self.meanValues[i] = 0
                self.meanValues[maxClass+start] = 1
                
            elif col not in self.isCategorical:
                # Mean of numerical feature
                mean = self.trainData[col].mean()
                self.meanValues[col] = mean
            else:
                continue
        print(self.meanValues)
    
    def fillMissingValues(self):
        self.trainData.fillna(value = self.meanValues, inplace = True)
        self.testData.fillna(value = self.meanValues, inplace= True)
        
    # Root Mean square Error 
    def calculateError(self, trainTrueData, testTrueData):
        trainPredicted = self.trainData.to_numpy()
        testPredicted = self.testData.to_numpy()
        
        m, k = trainPredicted.shape
        m_test, k_test = testPredicted.shape
        
        diffTrain = (trainTrueData - trainPredicted)**2
        diffTest = (testTrueData - testPredicted)**2
        
        sumTrain = np.sum(diffTrain, axis = 1)
        sumTest = np.sum(diffTest, axis = 1)
        
        errTrain = np.mean(np.sqrt(sumTrain))
        errTest = np.mean(np.sqrt(sumTest))
        
        return errTrain, errTest

In [11]:
baseline_model = BaselineModel(trainData, isFeatureMissingTrain, testData, isFeatureMissingTest, categoricalFeatures)
baseline_model.calculateSampleAverage()
baseline_model.fillMissingValues()
trainError, testError = baseline_model.calculateError(X_train, X_test)

{0: 0.2934348532722277, 1: 0.11953049544453664, 2: 0.6082316989986393, 3: 0.010997397785316634, 4: 0.02019683068228581, 5: 0.40747726716948696, 6: 0.031047436652916913, 7: 0, 8: 1, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 1, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 1, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 1, 51: 1, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 1, 61: 0, 62: 1, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0, 100: 0, 101: 1, 102: 0, 103: 0, 104: 0, 105: 0.24808626527307523}

In [12]:
print("Training Error:", trainError)
print("Testing Error:", testError)

Training Error: 0.7117214845762655
Testing Error: 0.7093574033796799